.friends {
    grid-area: f;
    background-color: lightslategrey;
    height: 150px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.friends a{
    display: block;
    text-decoration: none;
}
@media screen and (max-width: 1018px) {
    .friends {
        height: 250px;
    }
}

@media screen and (max-width: 682px) {
    .friends {
        height: 320px;
    }
}


.left {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 50px;
}
.left img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.friends a:hover {
    display: block;
    color: red;
    text-decoration: underline;
    background: gainsboro;
    text-decoration: none;
    border-radius: 50px 50px;
}