.form-control {

}

.formControl.error input,
.formControl.error textarea
{
border: red solid 1px ;
}

.formControl.error span
{
   color: red;
}

.formSummaryError {
   border: red 1px solid;
   padding: 5px;
   color: red;
   text-shadow: 2px 1px 4px black;
}